.file-upload {
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

div,
button {
  margin-top: 2rem;
}

input {
  margin: 0 auto;
}

.upbutton {
  width: 5rem;
  padding: 0.5rem;
  background-color: #2767e9;
  color: aliceblue;
  font-size: 1rem;
  cursor: pointer;
}
